.home{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-sort-container{
    height: 40vh;
    width: 70%;
    padding: 1rem;
    margin: 0 auto;
}

.search-sort{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3.4rem;
    height: 38vh;
    border-bottom: 1.5px solid #000;
}

/* Responsive CSS */
@media (min-width: 320px) and (max-width: 480px){
    .search-sort-container{
        height: 20vh;
        width: 80%;
        padding: 0.5rem;
        margin: 0 auto;
    }
    
    .search-sort{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 3.4rem;
        height: 18vh;
        border-bottom: 1.5px solid #000;
    }
}

@media (min-width: 480px) and (max-width: 600px){
    .search-sort-container{
        height: 20vh;
        width: 80%;
        padding: 0.5rem;
        margin: 0 auto;
    }
    
    .search-sort{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 3.4rem;
        height: 18vh;
        border-bottom: 1.5px solid #000;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .search-sort-container{
        height: 20vh;
        width: 70%;
        padding: 0.5rem;
        margin: 0 auto;
    }
    
    .search-sort{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 3.4rem;
        height: 18vh;
        border-bottom: 1.5px solid #000;
    }
}