.form{
    width: 100%;
    color: #fff;
}

.form-background{
    width: 100%;
    height: 66vh;
    background-image: url("../public/form.jpg");
    background-size: cover;
}

.form-alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-text{
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
}

.form-text h1{
    font-size: 4rem;
    font-weight: 500;
    font-family: 'spectral';
}

.form-text h3{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'karla';
    margin-bottom: 1.5rem;
}

.form-input{
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem 0;
    border-bottom: 1px solid #fff;
}

.form-input input{
    width: 60%;
    height: 3.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: 'karla';
    border: none;
    background-color: transparent;
    color: #fff;
}

.form-input input:active{
    outline: none;
    border: none;
}

.form-input input:focus{
    outline: none;
    border: none;
}

.form-input input::placeholder{
    color: #fff;
}

.form-input button{
    width: 15%;
    height: 3.5rem;
    font-size: 1.6rem;
    font-family: 'karla';
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/* Responsive CSS */
@media (min-width: 320px) and (max-width: 480px){
    .form{
        width: 100%;
        color: #fff;
    }
    
    .form-background{
        width: 100%;
        height: 50vh;
        background-image: url("../public/form.jpg");
        background-size: cover;
    }
    
    .form-alignment{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .form-text{
        text-align: center;
        color: #fff;
        margin-bottom: 1rem;
    }
    
    .form-text h1{
        font-size: 3rem;
        font-weight: 500;
        font-family: 'spectral';
    }
    
    .form-text h3{
        font-size: 1.8rem;
        font-weight: 400;
        font-family: 'karla';
        padding: 0 1.8rem;
        margin-bottom: 1.5rem;
    }
    
    .form-input{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0.5rem;
        margin: 2rem 0;
        border-bottom: 1px solid #fff;
    }
    
    .form-input input{
        width: 70%;
        height: 3.5rem;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'karla';
        border: none;
        background-color: transparent;
        color: #fff;
    }
    
    .form-input input:active{
        outline: none;
        border: none;
    }
    
    .form-input input:focus{
        outline: none;
        border: none;
    }
    
    .form-input input::placeholder{
        color: #fff;
    }
    
    .form-input button{
        width: 25%;
        height: 3.5rem;
        font-size: 1.6rem;
        font-family: 'karla';
        border: none;
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }
}

@media (min-width: 480px) and (max-width: 600px){
    .form{
        width: 100%;
        color: #fff;
    }
    
    .form-background{
        width: 100%;
        height: 50vh;
        background-image: url("../public/form.jpg");
        background-size: cover;
    }
    
    .form-alignment{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .form-text{
        text-align: center;
        color: #fff;
        margin-bottom: 1rem;
    }
    
    .form-text h1{
        font-size: 3rem;
        font-weight: 500;
        font-family: 'spectral';
    }
    
    .form-text h3{
        font-size: 1.8rem;
        font-weight: 400;
        font-family: 'karla';
        padding: 0 3rem;
        margin-bottom: 1.5rem;
    }
    
    .form-input{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0.5rem;
        margin: 2rem 0;
        border-bottom: 1px solid #fff;
    }
    
    .form-input input{
        width: 70%;
        height: 3.5rem;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'karla';
        border: none;
        background-color: transparent;
        color: #fff;
    }
    
    .form-input input:active{
        outline: none;
        border: none;
    }
    
    .form-input input:focus{
        outline: none;
        border: none;
    }
    
    .form-input input::placeholder{
        color: #fff;
    }
    
    .form-input button{
        width: 25%;
        height: 3.5rem;
        font-size: 1.6rem;
        font-family: 'karla';
        border: none;
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .form{
        width: 100%;
        color: #fff;
    }
    
    .form-background{
        width: 100%;
        height: 50vh;
        background-image: url("../public/form.jpg");
        background-size: cover;
    }
    
    .form-alignment{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .form-text{
        text-align: center;
        color: #fff;
        margin-bottom: 1rem;
    }
    
    .form-text h1{
        font-size: 4rem;
        font-weight: 500;
        font-family: 'spectral';
    }
    
    .form-text h3{
        font-size: 2rem;
        font-weight: 400;
        font-family: 'karla';
        padding: 0 3rem;
        margin-bottom: 1.5rem;
    }
    
    .form-input{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0.5rem;
        margin: 2rem 0;
        border-bottom: 1px solid #fff;
    }
    
    .form-input input{
        width: 70%;
        height: 3.5rem;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: 'karla';
        border: none;
        background-color: transparent;
        color: #fff;
    }
    
    .form-input input:active{
        outline: none;
        border: none;
    }
    
    .form-input input:focus{
        outline: none;
        border: none;
    }
    
    .form-input input::placeholder{
        color: #fff;
    }
    
    .form-input button{
        width: 25%;
        height: 3.5rem;
        font-size: 1.6rem;
        font-family: 'karla';
        border: none;
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }
}