header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.nav-background{
    width: 100%;
    height: 60vh;
    background-image: url("../public/herosection.jpg");
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    height: 16vh;
}

nav a{
    text-decoration: none;
    color: #fff;
}

.app-logo{
    height: 80px;
    width: 80px;
    margin: 0 2rem;
}

.app-logo img{
    width: 100%;
    height: 100%;
}

.navigation-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 6vh;
    font-family: "Karla", sans-serif;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 6vh;
    font-family: "Karla", sans-serif;
}

.nav-item{
    font-size: 1.7rem;
    font-weight: 500;
}

.app-utilities{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 6vh;
}

.app-utilities img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav-line{
    border: 1.2px solid white;
}

.main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43vh;
    font-size: 2.6rem;
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
}

/* Responsive CSS */
@media (min-width: 320px) and (max-width: 480px){
    .nav-background{
        height: 40vh;
        background-position: top;
    }
    
    nav{
        height: 12vh;
    }
    
    .app-logo{
        height: 8%;
        width: 20%;
        margin: 0 2rem;
        left: 1rem;
        position: absolute;
    }

    .menu{
        position: absolute;
        right: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 3rem;
        width: 4rem;
    }

    .menu span{
        height: 0.3rem;
        width: 100%;
        background-color: #fff;
        border-radius: 0;
    }

    .navigation-items{
        /* border: 1px solid green; */
        display: none;
    }

    .open-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 30vhvh;
        width: 100%;
        top: 12vh;
        background-color: #fff;
        position: absolute;
        scroll-snap-type: none;
    }
    
    .nav-links{
        /* border: 1px solid blue; */
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 1rem 0;
        padding: 0 1rem;
        height: 20vh;
    }
    
    .nav-item{
        font-size: 2rem;
        font-weight: 500;
        margin: 0.5rem 0;
        color: #000;
    }
    
    .app-utilities{
        /* border: 1px solid red; */
        width: 50%;
    }
    
    .app-utilities img{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 480px) and (max-width: 600px){
    .nav-background{
        height: 40vh;
        background-position: top;
    }
    
    nav{
        height: 12vh;
    }
    
    .app-logo{
        height: 8%;
        width: 20%;
        margin: 0 2rem;
        left: 1rem;
        position: absolute;
    }

    .menu{
        position: absolute;
        right: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 3rem;
        width: 4rem;
    }

    .menu span{
        height: 0.3rem;
        width: 100%;
        background-color: #fff;
        border-radius: 0;
    }

    .navigation-items{
        /* border: 1px solid green; */
        display: none;
    }

    .open-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 30vhvh;
        width: 100%;
        top: 12vh;
        background-color: #fff;
        position: absolute;
        scroll-snap-type: none;
    }
    
    .nav-links{
        /* border: 1px solid blue; */
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 1rem 0;
        padding: 0 1rem;
        height: 20vh;
    }
    
    .nav-item{
        font-size: 2rem;
        font-weight: 500;
        margin: 0.5rem 0;
        color: #000;
    }
    
    .app-utilities{
        /* border: 1px solid red; */
        width: 50%;
    }
    
    .app-utilities img{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .nav-background{
        height: 40vh;
        background-position: top;
    }
    
    nav{
        height: 12vh;
    }
    
    .app-logo{
        height: 8%;
        width: 20%;
        margin: 0 2rem;
        left: 1rem;
        position: absolute;
    }

    .menu{
        position: absolute;
        right: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 3rem;
        width: 4rem;
    }

    .menu span{
        height: 0.3rem;
        width: 100%;
        background-color: #fff;
        border-radius: 0;
    }

    .navigation-items{
        /* border: 1px solid green; */
        display: none;
    }

    .open-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 30vhvh;
        width: 100%;
        top: 12vh;
        background-color: #fff;
        position: absolute;
        scroll-snap-type: none;
    }
    
    .nav-links{
        /* border: 1px solid blue; */
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 1rem 0;
        padding: 0 1rem;
        height: 20vh;
    }
    
    .nav-item{
        font-size: 2rem;
        font-weight: 500;
        margin: 0.5rem 0;
        color: #000;
    }
    
    .app-utilities{
        /* border: 1px solid red; */
        width: 50%;
    }
    
    .app-utilities img{
        width: 40px;
        height: 40px;
    }
}
