footer{
    margin: 0;
    padding: 8rem 3rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-logo{
    height: 10%;
    width: 10%;
    margin: 0 2rem;
}

.footer-logo img{
    width: 100%;
    height: 100%;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.footer-main-heading{
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'karla';
    padding: 1rem 2rem;
    border-bottom: 1px solid #000;
}

.footer-heading{
    width: 22.5%;
    margin: 0 2rem;
}

.footer-heading h2{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 0;
}

.footer-info-links{
    display: flex;
    padding: 1rem 2rem;
    font-family: 'karla';
}

.footer-sub-links{
    display: flex;
    flex-direction: column;
    width: 24%;
    margin: 0 2rem;
}

.footer-sub-links:nth-child(3){
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 2rem;
}

.footer-sub-links h2{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0;
}

.footer-img-align{
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-img-align img{
    width: 5%;
    height: 45%;
    cursor: pointer;
    margin: 0.5rem 1rem;
}

.footer-social-links{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
}

.footer-social-links img{
    width: 10%;
    height: 70%;
    cursor: pointer;
    margin: 0.5rem;
}


/* Responsive CSS */
@media (min-width: 320px) and (max-width: 480px){
    footer{
        margin: 0;
        padding: 3rem 0.3rem;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .footer-logo{
        height: 30%;
        width: 30%;
        margin: 0 auto;
    }
    
    .footer-logo img{
        width: 100%;
        height: 100%;
    }
    
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    .footer-main-heading{
        display: flex;
        align-items: center;
        width: 100%;
        font-family: 'karla';
        padding: 1rem 0;
        border-bottom: 1px solid #000;
    }
    
    .footer-heading{
        width: 20%;
        margin: 0 1.4rem;
    }
    
    .footer-heading h2{
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.5rem 0;
    }
    
    .footer-info-links{
        display: flex;
        padding: 1rem 0;
        font-family: 'karla';
    }
    
    .footer-sub-links{
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0 1.4rem;
    }
    
    .footer-sub-links:nth-child(3){
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 1.4rem;
    }
    
    .footer-sub-links h2{
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.5rem 0;
    }
    
    .footer-img-align{
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .footer-img-align img{
        width: 10%;
        height: 45%;
        cursor: pointer;
        margin: 0.5rem;
    }
    
    .footer-social-links{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }
    
    .footer-social-links img{
        width: 15%;
        height: 70%;
        cursor: pointer;
        margin: 0.5rem;
    }
}

@media (min-width: 480px) and (max-width: 600px){
    footer{
        margin: 0;
        padding: 3rem 0.3rem;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .footer-logo{
        height: 30%;
        width: 30%;
        margin: 0 auto;
    }
    
    .footer-logo img{
        width: 100%;
        height: 100%;
    }
    
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    .footer-main-heading{
        display: flex;
        align-items: center;
        width: 100%;
        font-family: 'karla';
        padding: 1rem 0;
        border-bottom: 1px solid #000;
    }
    
    .footer-heading{
        width: 20%;
        margin: 0 1.4rem;
    }
    
    .footer-heading h2{
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.5rem 0;
    }
    
    .footer-info-links{
        display: flex;
        padding: 1rem 0;
        font-family: 'karla';
    }
    
    .footer-sub-links{
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0 1.4rem;
    }
    
    .footer-sub-links:nth-child(3){
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 1.4rem;
    }
    
    .footer-sub-links h2{
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.5rem 0;
    }
    
    .footer-img-align{
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .footer-img-align img{
        width: 10%;
        height: 45%;
        cursor: pointer;
        margin: 0.5rem;
    }
    
    .footer-social-links{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }
    
    .footer-social-links img{
        width: 15%;
        height: 70%;
        cursor: pointer;
        margin: 0.5rem;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    footer{
        margin: 0;
        padding: 3rem 0.3rem;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .footer-logo{
        height: 30%;
        width: 30%;
        margin: 0 auto;
    }
    
    .footer-logo img{
        width: 100%;
        height: 100%;
    }
    
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    .footer-main-heading{
        display: flex;
        align-items: center;
        width: 100%;
        font-family: 'karla';
        padding: 1rem 0;
        border-bottom: 1px solid #000;
    }
    
    .footer-heading{
        width: 20%;
        margin: 0 1.4rem;
    }
    
    .footer-heading h2{
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.5rem 0;
    }
    
    .footer-info-links{
        display: flex;
        padding: 1rem 0;
        font-family: 'karla';
    }
    
    .footer-sub-links{
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0 1.4rem;
    }
    
    .footer-sub-links:nth-child(3){
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 1.4rem;
    }
    
    .footer-sub-links h2{
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.5rem 0;
    }
    
    .footer-img-align{
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .footer-img-align img{
        width: 10%;
        height: 45%;
        cursor: pointer;
        margin: 0.5rem;
    }
    
    .footer-social-links{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }
    
    .footer-social-links img{
        width: 15%;
        height: 70%;
        cursor: pointer;
        margin: 0.5rem;
    }
}

@media (min-width: 800px) and (max-width: 1024px){

}

@media (min-width: 1024px) and (max-width: 1281px){

}